.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: var(--gray2);
}
.header__logo {
	width: 64px;
	height: 60px;
}
.header__title {
	padding-left: 16px;
	font-weight: var(--font_bold);
	font-size: 2.6rem;
	color: var(--gray7);
}
